/* STYLE SECTIONING TAGS #314029 #95c37d */
*{ margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }

  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    background-color: #e3eddf; 
    text-align: center; 
   
   }

   #image-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    overflow: hidden;
}

.image {
    max-width: 100%; /* Ensure images don't exceed their container width */
    max-height: 100%;
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.5s ease;
}

 header {
   background-color: #95c37d;
   text-align: left; 
 }
 /* STYLE TEXT */
 
 main{
   margin: auto;
   width: 30%;
   text-align: center; 
 }
 h1 {
   color: black;
   font-size: 55px;
   text-align:center
 }
 h2 {
   color: #e3eddf;
   font-size: 55px;
   text-align:center
 }
 h3 {
   color: #e3eddf;
   font-size: 55px;
   text-align:center
 }
 h4 {
   color: #314029;
   font-size: 15px;
   text-align:center
 }
